body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'ArcadeClassic', sans-serif;
    color: red;
    text-align: center;
    margin-top: 250px;
    font-size: 100px;
    position: absolute;
    top: 0;
}

#start-game{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ArcadeClassic', sans-serif;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    font-size: 50px;
    transition: 0.2s;
}

#start-game:hover {
    cursor: pointer;
    font-size: 54px;
    color: aliceblue;
    transition: 0.2s;
}