:root{
    --game-window: #200000;
    --title: red;
    --error: rgb(176, 0, 0);
    --win: green;
    --tower: #8B4513;
    --reset: rgb(78, 13, 0);
    --volume: white;
    --moveCount: white;
    --stone-1: #3498db;
    --stone-2: #2ecc71;
    --stone-3: #e74c3c;
    --stone-4: #f1c40f;
  }
  
  body{
    background-color: black;
  }
  
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--title);
    font-family: "Tac One", sans-serif;
    font-size: 100px;
  }
  
  .controls{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 14px;
    right: 20px;
    padding: 0;
  }
  
  .towers-container {
    position: relative;
    display: flex;
    background-color: var(--game-window);
    padding: 30px 0 20px 0;
    border: 5px solid red;
    justify-content: space-evenly; 
    max-width: 800px;
    margin: 60px auto;
  }
  
  .towers-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    margin: 0 auto;
  }
  
  .tower {
    width: 20px; 
    height: 140px; 
    background-color: var(--tower);
    border-radius: 5px; 
    display: flex;
    flex-direction: column-reverse; 
    align-items: center;
    margin: 120px 0 0 0;
  }
  
  .tower:hover{
    cursor: pointer;
  }
  
  .stone {
    width: 80px; 
    height: 20px; 
    margin: 2px 0; 
    border-radius: 5px;
  }
  
  [data-color="blue"] {
    width: 70px;
    background-color: var(--stone-1);
  }
  
  [data-color="green"] {
    width: 100px;
    background-color: var(--stone-2);
  }
  
  [data-color="red"] {
    width: 120px;
    background-color: var(--stone-3);
  }
  
  [data-color="yellow"] {
    width: 150px;
    background-color: var(--stone-4);
  }
  
  .game-text{
    position: absolute;
    
  
    #move-count{
      font-family: "Bungee Spice", sans-serif;
      color: var(--moveCount);
      font-size: 30px;
      text-align: center;
    }
  
    #messageContainer {
      position: absolute;
      top: 10;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9999;
    }
  }
  
  .error {
    font-family: "Tac One", sans-serif;
    color: var(--error);
    font-size: 35px;
    padding: 10px;
    text-wrap: nowrap;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .success {
    font-family: "Tac One", sans-serif;
    color: var(--win);
    font-size: 35px;
    padding: 10px;
    text-wrap: nowrap;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  #resetButton {
    font-family: "Bungee Spice", sans-serif;
    font-size: 20px;
    background-color: var(--reset);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0 15px 0 0;
    transition: 0.2s;
  }
  
  #resetButton:hover {
    cursor: pointer;
    font-size: 21px;
    margin-right: 12px;
    transition: 0.2s;
  }
  
  #audio-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--volume);
    .material-symbols-outlined {
      margin-bottom: 3px;
      font-size: 40px;
    }
  }
  
  #audio-toggle:hover {
    cursor: pointer;
  }