body {
    background-color: rgb(34, 34, 34);
  }
  
.jumbotron {
  margin: 5% auto;
  /* margin-left: 43%; */
  text-align: center;
}

.jumbotron h1 {
  font-family: 'Honk', system-ui;
  font-size: 100px;
}

.reset-button button {
  font-size: 50px;
  font-family: 'Poor Story', system-ui;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: transparent;
  transition: 0.3s;
}

.reset-button button:hover {
  cursor: pointer;
  color: rgb(0, 200, 43);
  transition: 0.3s;
}

td {
  height:150px;
  width:150px;
  text-align: center;
  border: 5px solid rgb(255, 255, 255);
  font-size: 100px;
  font-family: Arial, sans-serif
}

table {
  margin: 20px auto;
}

@media (max-width: 480px) {
  body {
    overflow: hidden;
  }

  .jumbotron h1{
    font-size: 50px;
  }

  .table {
    grid-column: 2/3;
    width: 100%;

  }
}